*.zip
/similar projects/*
*.jpg
*.png
*.cdr
*.log
*/error_log
*/.htaccess
*/.htpasswd
*/.htaccess
*/.htpasswd
*/.DS_Store
*/.svn
*/.git
*/.gitignore
*/.gitmodules
*/.gitattributes
invoice/error_log
error_log
dashboard/makeProduct/error_log
dashboard/product/error_log
crons/error_log
