* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-wrapper {
    margin: 20px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}

#user_details {
    display: flex;
    align-items: center;
}

#user_details .name {
    flex: 2;
}