.content-wrapper {
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

label {
    font-size: 1rem;
    padding: 5px;
    margin: 5px;
}

form {
    width: 330px;
}

.submit {
    display: flex;
    margin: 20px;
    clear: both;
    justify-content: space-evenly;
}

fieldset {
    padding: 6px;
    margin-bottom: 10px;
}

legend {
    font-weight: bold;
}

#reset-btn {
    background: red;
    border-radius: 0.2rem;
    padding: 8px;
    color: white;
    font-weight: bold;
    margin: auto;
}

#submit-btn {
    background: green;
    border-radius: 0.2rem;
    padding: 8px;
    color: white;
    justify-content: space-between;
    font-weight: bold;
    margin: auto;
}

hr {
    width: 90%;
    border: 2px solid green;
    margin: 10px;
}


/* Error Box */

p.error {
    margin: 10px;
    border: 2px solid red;
    padding: 10px;
}

.form_field {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: baseline;
}

fieldset>#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

tabel {
    width: 100%;
}


/* Page Navigations */

#tab_list {
    width: 115%;
    display: flex;
    justify-content: space-around;
}

#tab_list input {
    text-transform: capitalize;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    color: aliceblue;
    background: green;
}