#tab_list {
    width: 115%;
    display: flex;
    justify-content: space-around;
}

#tab_list button {
    text-transform: capitalize;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    color: aliceblue;
    background: green;
}

h1 {
    text-align: center;
    margin: 10px;
}