* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #343E59;
    margin-left: 220px;
    margin-top: 65px;
    margin: 68px 10px 5px 220px;
}

.nav {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    left: 0;
    top: 60px;
    width: 200px;
    height: 100%;
    position: fixed;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    overflow: scroll;
    padding-bottom: 100px;
}

.nav a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    line-height: 1.3rem;
}

.nav a:hover {
    background-color: white;
    color: black;
}

.nav a i {
    margin-right: 5px;
    color: tan;
    font-size: x-large;
}

.bankDeposit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blanchedalmond;
    padding: 10px;
    margin-bottom: 10px;
}

input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #333;
}

input[type="submit"] {
    background-color: #086400;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 20px;
}

h1,
h2,
h3 {
    text-align: center;
}

.nav-logo {
    background-color: blanchedalmond;
    padding: 20px 10px !important;
    margin-bottom: 20px;
    margin: 10px;
}

#navbar {
    margin: 0 !important;
    left: 0 !important;
    position: fixed !important;
    overflow: visible;
    z-index: 9999999999;
}

.nav a.active {
    background-color: #f0f0f0;
    /* Change this to your desired background color */
    color: #000;
    /* Change this to your desired text color */
    padding: 10px;
    /* Optional: Add padding for better appearance */
    border-radius: 5px;
    /* Optional: Add border radius for rounded corners */
}

.nav a.active i {
    color: #000;
}


/* Dashboard */

h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}


/* errors */

#errors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#errors p {
    background-color: #dc3545;
    color: black;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

#errors p a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    /* underline it */
}


/* Cards */

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

#cards .card {
    background-color: #202231;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#cards .card i {
    font-size: 50px;
    color: tan;
}

#cards .card .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards .card .info h2 {
    margin: 5px;
    color: rgb(0, 255, 34);
    font-weight: bold;
    font-size: 2rem;
}


/* Table */

#DataTable {
    /* colors */
    background-color: #202231;
    color: white !important;
    /* padding */
    padding: 10px;
    /* border radius */
    border-radius: 5px;
    width: 100% !important;
}

#DataTable a {
    color: #02ff00;
}

div#DataTable_wrapper label {
    color: white;
}

div#DataTable_wrapper input {
    /* color: white; */
    background: #ffffffc2;
}